@import "normalize.css";
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|IBM+Plex+Sans+Condensed|IBM+Plex+Serif|Noto+Serif+KR&display=swap');


body {
  max-width: 1921px;  
  margin: 0 auto;
  font-family: 'IBM Plex Sans ', sans-serif;
  background-color: #E5E5E5;
}
a {
	text-decoration: none;

}
.header-info {
	width: 100%;
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: flex-end;
	background-color: #4F4F4F;
	color: #C4C4C4;
}
.header-info-tel {
	position: relative; 
	padding: 14px 12px;
	border-right: 1px solid #C4C4C4;
	flex-grow: 1;
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-align: right;
	text-decoration: none;
	color: #C4C4C4;
}
.header-info-tel:before {
	display: block;
	content: "";
	width: 20px;
  	height: 20px;
  	position: absolute;
  	top: calc(50% - 10px);
  	right: 188px;	
	background-image: url("../images/telephone-handle-silhouette.svg");
	background-size: 20px 20px;

}
.header-info-tel-link {
	text-decoration: none;
	color: #C4C4C4;
}
.header-info-time {
	display: none;
	position: relative; 
	padding: 14px 14px 14px 38px;
	border-right: 1px solid #C4C4C4;
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-align: right;
}
.header-info-time:before {
	display: block;
	content: "";
	width: 20px;
  	height: 20px;
  	position: absolute;
  	top: calc(50% - 10px);
  	right: 130px;	
	background-image: url("../images/time.svg");
	background-size: 20px 20px;

}
.header-info-map {
	padding: 14px 12px;
	border-right: 1px solid #C4C4C4;
}
.header-info-map-logo {
	width: 20px;
  	height: 20px;
}
.header-info-map-text {
	display: none;
	font-size: 18px;	
	text-align: left;
}
.social-network-container {
	display: flex;
	margin: 14px 9px;
}
.social-network {
	width: 20px;
  	height: 20px;
  	margin: 0 4px ;
}
.header-logo {
	display: block;
	position: absolute;
	width: 97px;
  	height: 92px; 	
  	top: 100%;
  	left: 8px;	
  	border-radius: 0 0 6px 6px ;
  	overflow: hidden;
}
.header-logo-img {
	width: 100%;
	height: 100%;
 }
 .header-menu-wrapper {
	width: 100%;
	display: none;	
	flex-direction: row;
	justify-content: flex-end;
	margin: 0;	
	padding: 22px 0;	
	background-color: #000000;	
} 
.header-menu-item{
	display: block;	
	margin: 0 12px;
	padding: 0;
	text-align: right;
}
.header-menu-button {
	display: block;		
  	cursor: pointer;  	
  	padding: 0;
  	margin-top: 5px;
  	margin-bottom: 5px;  	
  	font-family: 'IBM Plex Sans Condensed', sans-serif;	
	  	
	font-weight: 600;	  
  	font-size: 14px;
  	color: #B49256;  	
}
.header-menu-button:hover {
  	opacity: 0.8;

 }

.intro {
	display: inline-block;	
	background-image: url("../images/office-classic-style.jpg");
	background-repeat: no-repeat;
	background-size: auto 100% ;
	background-clip: border-box;
}
.intro-container {
	
	max-width: 100%;
	margin-top: 98px;
	margin-bottom: 12px;
	padding-top: 2px;
	padding-left: 22px;
	padding-right: 10px;
	padding-bottom: 20px;
	background: rgba(51, 51, 51, 0.66);
	font-family: 'Noto Serif KR', serif;
	color: #F2C94C;
}
.intro-title {
	position: relative;
	padding-bottom: 2px;
	margin-top: 25px;
	font-size: 24px;
	line-height: 34px;
	text-transform: uppercase;
}
.intro-title:after {
	display: block;
	content: "";
	width: 105px;
  	height: 2px;
  	position: absolute;
  	top: 100%;
  	left: 0;	
	background-image: url("../images/intro_line.svg");
	
}
.intro-desc {
	position: relative;
	margin-top: 25px;
	margin-bottom: 10px;
	padding-bottom: 2px;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.45em;
	letter-spacing: 0.04em;
}
.intro-desc:after {
	display: block;
	content: "";
	width: 105px;
  	height: 2px;
  	position: absolute;
  	top: 100%;
  	left: 0;	
	background-image: url("../images/intro_line.svg");
	
}
.intro-slogan {
	margin-top: 10px;
	margin-bottom: 25px;
	font-size: 20px;
}
.intro-button {
	margin: 0;
	text-align: right;
}
.intro-button-vizit {
	display: inline-block;	
	background-color: #B49256;
  	cursor: pointer;
  	border-radius: 2px;
  	padding: 7px  6px;
  	margin-bottom: 5px;  	
  	font-family: 'IBM Plex Sans Condensed', sans-serif;	
	font-weight: bold;	  
  	font-size: 14px;
  	color: #E5E5E5;  	
  	letter-spacing: 0.05em;
  	text-transform: uppercase;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.intro-button-vizit:hover {
  	opacity: 0.8;
 }
.intro-menu-wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	background-color: #4F4F4F;
	
} 
.intro-menu-item{
	display: block;
	width: 32%;
	margin: 0;
	padding: 0;
	text-align: center;
}
.intro-menu-button {
	display: block;		
	background-color: #B49256;
  	cursor: pointer;  	
  	padding: 14px  4px;
  	margin-top: 5px;
  	margin-bottom: 5px;  	
  	font-family: 'Noto Serif KR', serif;	
	font-weight: 600;	  
  	font-size: 16px;
  	color: #333333;
  	text-decoration: none;
  	text-transform: uppercase;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.intro-menu-button:hover {
  	opacity: 0.8;
 }

.pg-intro {
	width: 100%;
	display: inline-block;	
	background-repeat: no-repeat;
	background-size:  auto 100%;
	background-clip: border-box;
}
.pg-intro-curtains {
		
	background-image: url("../images/Header/intro-curtains.jpg");
	
}
.pg-intro-container {
	
	max-width: 70%;
	margin-top: 54px;
	margin-bottom: 202px;
	padding-top: 2px;
	padding-left: 22px;
	padding-right: 10px;
	padding-bottom: 20px;
	background: linear-gradient(to right, rgba(51, 51, 51, 0.66) 70%, rgba(51, 51, 51, 0.05));
	
	font-family: 'Noto Serif KR', serif;
	color: #F2C94C;
}
.pg-intro-title {
	position: relative;
	padding-bottom: 2px;
	margin-top: 25px;
	font-family: 'IBM Plex Sans Condensed', sans-serif;		  	
	font-weight: 600;	  
  	font-size: 48px;
  	color: #B49256; 
  	text-shadow: #4F4F4F 1px 1px 0, #4F4F4F 2px 2px 0;
	line-height: 1.1em;
}
.pg-intro-title:after {
	display: block;
	content: "";
	width: 105px;
  	height: 2px;
  	position: absolute;
  	top: 100%;
  	left: 0;	
	background-image: url("../images/intro_line.svg");
	color: #B49256;
}


.service {
	width: 100%;	
	background-image: url("../images/service-bg.jpg");
	background-repeat: no-repeat;
	background-size: auto 100% ;
	background-position: right;
}
.service-wrapper {

	padding-top: 2px;
	padding-left: 22px;
	padding-right: 22px;
	padding-bottom: 20px;
	background-image: url("../images/bgr_service.png");
	background-repeat: repeat;
	background-color: #E5E5E5;
	color: #333333;
}
.service-title {
	position: relative;
	padding-top: 9px;
	padding-bottom: 18px;

	margin-top: 5px;
	font-family: 'Noto Serif KR', serif;
	font-size: 20px;
	line-height: 1.3em;
	text-transform: uppercase;
}
.service-title:after {
	display: block;
	content: "";
	width: 105px;
  	height: 2px;
  	position: absolute;
  	top: 100%;
  	left: 0;	
	background-image: url("../images/intro_line_4F.svg");
	
}
.service-desc {
	margin-bottom: 25px;  
	line-height: 1.3em;
}
.service-menu-wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	
	
} 
.service-menu-item{
	display: block;
	
	margin: 0;
	padding: 0;
	text-align: center;
}
.service-menu-button {
	display: block;		
  	cursor: pointer;  	
  	padding: 0;
  	margin-top: 5px;
  	margin-bottom: 5px;  	
  	font-family: 'IBM Plex Sans Condensed', sans-serif;	
	  	
	font-weight: 600;	  
  	font-size: 12px;
  	color: #333333;  	
}
.service-menu-button:hover {
  	opacity: 0.8;
 }
.service-button {
	margin: 36px 0 20px;
	text-align: right;
}
.service-button-more {
	display: inline-block;	
	background-color: #B49256;
  	cursor: pointer;
  	border-radius: 2px;
  	padding: 10px  20px;
  	margin-bottom: 5px; 
  	margin-right:  12px; 	
  	font-family: 'IBM Plex Sans Condensed', sans-serif;	
	font-weight: bold;	  
  	font-size: 14px;
  	color: #E5E5E5;  	
  	letter-spacing: 0.05em;
  	text-transform: uppercase;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.service-button-more:hover {
  	opacity: 0.8;
 }

.pg-service {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;	
	justify-content: space-around;
}
.pg-service-wrapper {

	padding-top: 2px;
	padding-left: 22px;
	padding-right: 22px;
	padding-bottom: 20px;
	background-image: url("../images/bgr_service.png");
	background-repeat: repeat;
	background-color: #E5E5E5;
	color: #333333;
}
.pg-service-wrapper-main {
	width: 100%;
	padding-top: 2px;
	padding-left: 22px;
	padding-right: 22px;
	padding-bottom: 20px;
	background-image: url("../images/bgr_service.png");
	background-repeat: repeat;
	background-color: #E5E5E5;
	color: #333333;
}
.pg-service-button {
	margin: 36px 0 20px;
	text-align: left;
}
.main-orders{
	margin: 1px 0; 
	
}
.pg-orders-wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	margin: 0;
	padding: 0;	
} 
.pg-orders-item{
	display: block;
	width: 25%;
	margin: 0;
	padding: 10em 0 0;
	
	background-repeat: no-repeat;
	background-size: auto 50% ;
	background-position: center 20%;
	box-sizing: border-box;
}
.pg-orders-item:nth-child(-n+8):nth-child(4n-3) {
	padding: 1em 0.5em ;
}

.pg-orders-item :nth-child(n+4):nth-child(n+4)):nth-child(-n+18):nth-child(odd) {
	
}
.pg-orders-item-house {
	background-image: url("../images/orders/textile_house.png");	
}
.pg-orders-item-hotel {
	background-image: url("../images/orders/textile_hotel.png");	
}
.pg-orders-item-cafe {
	background-image: url("../images/orders/textile_cafe.png");	
}
.pg-orders-item-office {
	background-image: url("../images/orders/textile_office.png");	
}
.pg-orders-item-teatre {
	background-image: url("../images/orders/textile_teatre.png");	
}
.pg-orders-item-univer {
	background-image: url("../images/orders/textile_univercity.png");	
}
.pg-orders-item-desc {
	display: block;	
	position: relative;	
  	cursor: pointer;  	
  	padding: 20px 0;
  	margin-top: 5px;
  	margin-bottom: 5px;  	
  	font-family: 'IBM Plex Sans Condensed', sans-serif;	
	  	
	font-weight: 600;	  
  	font-size: 24px;
  	color: #B49256;
  	text-align: center; 	
}

.pg-orders-item-desc:hover {
  	opacity: 0.8;
 }
.pg-orders-item-desc:before {
	display: block;
	content: "";
	width: 60%;
  	height: 2px;
  	position: absolute;
  	top: 0;
  	left: calc(50% - 60%/2);
	background-image: url("../images/stage_line_9e.svg");
}

.pg-contact-title{
	color: #B49256;
}	
.pg-orders-item-desc-more{
	padding: 20px 0;
  	margin-top: 5px;
  	margin-bottom: 5px;  	
  	font-family: 'IBM Plex Sans Condensed', sans-serif;	  	
	font-weight: 400;	  
  	font-size: 18px;
  	line-height: 1.3em;
    letter-spacing: 0.05em;
  	color: #B49256;
}
 .main-trends {

 }
.main-trends-wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	margin: 0;
	padding: 0;
	
	
} 
.main-trends-item {
	display: block;
	width: 50%;
	margin: 0;
	padding: 0;
	text-align: center;
	background-repeat: no-repeat;
	background-size: auto 100% ;
}
.main-trends-item:hover {
	/* transform: scale(1.1); */
}

.main-trends-item-curtains {
	background-image: url("../images/14433584154531_w1152h770.jpg");	
}
.main-trends-item-cornice {
	background-image: url("../images/14433564798915_w1152h770.jpg");	
}
.main-trends-item-oboi {
	background-image: url("../images/1443357425801_w1152h770.jpg");	
}
.main-trends-item-rugs {
	background-image: url("../images/14433567487333_w1152h770.jpg");	
}
.main-trends-button {
	display: block;		
  	cursor: pointer;  	
  	padding: 0;
  	margin-top: 60%;
  	margin-bottom: 5px;  	
  	font-family: 'IBM Plex Sans Condensed', sans-serif;		  	
	font-weight: 600;	  
  	font-size: 30px;
  	color: #B49256; 
  	text-shadow: #4F4F4F 1px 1px 0, #4F4F4F 2px 2px 0; 	
	/*text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}
.main-trends-button:hover {
  	opacity: 0.8;

 }

.brands {

}
.brands-wrapper {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	background-color: #4F4F4F;
	
} 
.brands-item{
	display: flex;
	width: 16%;
	margin: 4px;
	padding: 0;
	text-align: center;
	border: 2px solid #000000;
	background-color: #B49256;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.brands-button {
	display: block;		
	
  	cursor: pointer;  	
  	padding: 4px;
  	margin: auto; 	
  	
  	
}
.brands-button:hover {
  	opacity: 0.8;
 }
 .brands-img{
 	margin: auto ;
 	max-width: 90%; 	
 }

.trends {
	display: block;	
	width: 100%;
}
.trends-text {
	display: block;
		
	padding-top: 2px;
	padding-left: 22px;
	padding-right: 10px;
	padding-bottom: 26px;
	background-image: url("../images/bgr_service.png");
	background-repeat: repeat;
	color: #333333;
}
.trends-title {
	position: relative;
	padding-top: 26px;
	padding-bottom: 18px;

	margin-top: 5px;
	font-family: 'Noto Serif KR', serif;
	font-size: 20px;
	line-height: 1.3em;
}
.trends-title:after {
	display: block;
	content: "";
	width: 105px;
  	height: 2px;
  	position: absolute;
  	top: 100%;
  	left: 0;	
	background-image: url("../images/intro_line_4F.svg");
	
}
.trends-desc {
	margin-bottom: 25px;  
	line-height: 1.3em;
}

.trends-wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	list-style-type: none;
	
} 
.trends-item{
	display: block;
	width: 33.3%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0.5px solid #4F4F4F;
	
}
.trends-button {
	overflow: hidden;
    position: relative;
    width: 100%;
    padding-bottom: 100%; 
    display: flex;
    justify-content: center;
  	
}
.trends-button:hover {
  	opacity: 0.8;
 }
 .trends-img{
 	position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    max-height: 100%;
    
 }

.stage {
	display: block;
		
	padding-top: 2px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	background-image: url("../images/stage-bg.jpg");
	background-repeat: no-repeat;
	background-size: auto 100% ;
	text-align: center;
	color: #B49256;
}
.stage-title {
	position: relative;
	padding-top: 14px;
	padding-bottom: 18px;
	margin-top: 5px;
	font-family: 'Noto Serif KR', serif;
	font-size: 24px;
	line-height: 1.3em;
	text-align: center;
}

.stage-wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	margin: 0;
	padding: 0;	
} 
.stage-item{
	display: block;
	width: 25%;
	margin: 0;
	padding: 114px 0 0;
	
	background-repeat: no-repeat;
	background-size: auto 35% ;
	background-position: center top;
}
.stage-item-design {
	background-image: url("../images/StageWorks/stage_design.png");	
}
.stage-item-cloth {
	background-image: url("../images/StageWorks/stage_cloth.png");	
}
.stage-item-sewing {
	background-image: url("../images/StageWorks/stage_sewing.png");	
}
.stage-item-curtains {
	background-image: url("../images/StageWorks/stage_curtains.png");	
}
.stage-item-desc {
	display: block;	
	position: relative;	
  	cursor: pointer;  	
  	padding: 20px 0;
  	margin-top: 5px;
  	margin-bottom: 5px;  	
  	font-family: 'IBM Plex Sans Condensed', sans-serif;	
	  	
	font-weight: 600;	  
  	font-size: 14px;
  	 	
}
.stage-item-desc:hover {
  	opacity: 0.8;
 }
 .stage-item-desc:before {
	display: block;
	content: "";
	width: 60%;
  	height: 2px;
  	position: absolute;
  	top: 0;
  	left: calc(50% - 60%/2);
  		
	background-image: url("../images/stage_line_9e.svg");
	
}
.stage-desc {
	margin: 20px 0;	
		  
  	font-size: 16px;
	line-height: 1.3em;
	letter-spacing: 0.05em;
}

.pg-advantage{
	margin: 20px 0;
}
.pg-advantage-wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	margin: 0;
	padding: 0;	
} 
.pg-advantage-item {
	display: block;
	width: 30%;
	margin: 0;
	padding: 4% 3%;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	background-color: #E5E5E5;
	box-sizing: border-box;
}
.pg-advantage-item-title-experience{
	position: relative;
	padding-left: 4em;
}
.pg-advantage-item-title-experience:before {
	display: block;
	content: "";
	width: 3em;
  	height: 3em;
  	position: absolute;
  	top: calc(50% - 1.5em);
  	left: 0;	
	background-image: url("../images/textile_experience.png");
	background-repeat: no-repeat;
	background-size: auto 90% ;
	background-position: center ;
	
}
.pg-advantage-item-title-orders{
	position: relative;
	padding-left: 4em;
}
.pg-advantage-item-title-orders:before {
	display: block;
	content: "";
	width: 3em;
  	height: 3em;
  	position: absolute;
  	top: calc(50% - 1.5em);
  	left: 0;
	background-image: url("../images/textile_orders.png");
	background-repeat: no-repeat;
	background-size: auto 90% ;
	background-position: center ;
	
}
.pg-advantage-item-title-complex{
	position: relative;
	padding-left: 4em;
}
.pg-advantage-item-title-complex:before {
	display: block;
	content: "";
	width: 3em;
  	height: 3em;
  	position: absolute;
  	top: calc(50% - 1.5em);
  	left: 0;	
	background-image: url("../images/textile_complex.png");
	background-repeat: no-repeat;
	background-size: auto 90% ;
	background-position: center ;
	
}
.pg-advantage-item-desc{
	color: #333333;
}
.pg-advantage-desc-lft{
	padding: 0 4em;
	font-size: 36px;
	line-height: 1.3em;
	letter-spacing: 0.05em;
	text-align: left;
	color: #333333;
}
.pg-advantage-desc-rght{
	padding: 0 4em 2em 6em;
	text-align: right;
	font-weight: 800;	  
  	font-size: 24px;
  	color: #333333;
}


.contact {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	
	margin: 0;
	padding: 0;
	background-color: #E5E5E5;	
	background-image: url("../images/contact-bg.jpg");
	background-repeat: no-repeat;
	background-size: auto 100% ;
}
.contact-bckgrnd {
	display: none;
	background-image: url("../images/contact-bg.jpg");
	background-repeat: no-repeat;
	background-size: auto 100% ;
}
.contact-main {
	padding-top: 20px;
	padding-left: 32px;
	padding-right: 10px;
	padding-bottom: 20px;
	color: #4F4F4F;
	font-weight: 600;
	background-color: #E5E5E5;
}
.contact-title {
	position: relative;
	font-size: 24px;
}
.contact-title:after {
	display: block;
	content: "";
	width: 40px;
  	height: 2px;
  	position: absolute;
  	top: 100%;
  	left: 0;
  		
	background-image: url("../images/stage_line_9e.svg");
	
}
.contact-label {
	margin-top: 50px;
	position: relative;
	font-size: 12px;
	line-height: 1.3em;
}
.contact-label:after {	
	display: block;
	content: "";
	width: 80px;
  	height: 1px;
  	position: absolute;
  	top: 100%;
  	left: 0;	
	background-image: url("../images/contact_line_9e.svg");
}
.contact-desc {
	margin-bottom: 20px;
	font-size: 16px;
}
.contact-desc-link {
	text-decoration: none;
	color: #4F4F4F;
}
.contact-button {
	margin: 36px 0 20px;
	text-align: center;
}
.contact-button-call {
	display: inline-block;	
	background-color: #B49256;
  	cursor: pointer;
  	border-radius: 2px;
  	padding: 12px  52px;
  	margin-bottom: 5px; 
  	margin-right:  12px; 	
  	font-family: 'IBM Plex Sans Condensed', sans-serif;	
	font-weight: 400;	  
  	font-size: 18px;
  	color: #E5E5E5;  	
  	letter-spacing: 0.03em;
  	text-transform: uppercase;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.contact-button-call:hover {
  	opacity: 0.8;
 }
 .contact-map {
 	display: inline-block;
 	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.contact-map-img {    
    min-width: 100%;
    margin: 0;
	padding: 0;
}



.footer {
	
}
.footer-menu {
	width: 100%;
	display: block;	
	background-color: #000000;

} 
.footer-menu-wrapper {
	width: 100%;
	display: flex;	
	flex-direction: column;
	justify-content: space-around;
	margin: 0;
	padding: 4px 0;
	
} 
.footer-menu-item{
	display: block;
	
	margin: 0 12px;
	padding: 0;
	text-align: right;
}
.footer-menu-button {
	display: block;		
  	cursor: pointer;  	
  	padding: 0;
  	margin-top: 5px;
  	margin-bottom: 5px;  	
  	font-family: 'IBM Plex Sans Condensed', sans-serif;	
	  	
	font-weight: 600;	  
  	font-size: 14px;
  	color: #B49256;  	
}
.footer-menu-button:hover {
  	opacity: 0.8;
 }
.footer-info {
	width: 100%;
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: flex-end;
	background-color: #4F4F4F;
	color: #C4C4C4;
}
.footer-info-tel {
	position: relative; 
	padding: 14px 12px;
	border-right: 1px solid #C4C4C4;
	flex-grow: 1;
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-align: right;
	
}

.footer-info-tel:before {
	display: block;
	content: "";
	width: 20px;
  	height: 20px;
  	position: absolute;
  	top: calc(50% - 10px);
  	right: 188px;	
	background-image: url("../images/telephone-handle-silhouette.svg");
	background-size: 20px 20px;
}
.footer-info-tel-link {
	text-decoration: none;
	color: #C4C4C4;
}
.footer-info-time {
	display: none;
	position: relative; 
	padding: 14px 14px 14px 38px;
	border-right: 1px solid #C4C4C4;
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-align: right;
}
.footer-info-time:before {
	display: block;
	content: "";
	width: 20px;
  	height: 20px;
  	position: absolute;
  	top: calc(50% - 10px);
  	right: 130px;	
	background-image: url("../images/time.svg");
	background-size: 20px 20px;

}

.footer-info-map {
	padding: 14px 12px;
	border-right: 1px solid #C4C4C4;
}
.footer-info-map-logo {
	width: 20px;
  	height: 20px;
}
.footer-info-map-text {
	display: none;
	font-size: 18px;	
	text-align: left;
}
.footer-logo {
	display: block;
	position: absolute;
	width: 97px;
  	height: 92px; 	
  	bottom: 100%;
  	left: 8px;	
  	border-radius: 6px 6px 0 0 ;
  	overflow: hidden;
}
.footer-logo-img {
	width: 100%;
	height: 100%;
 }

@media (max-width: 640px)  {
	.pg-intro-container {
		margin-top: 106px;
    	margin-bottom: 0;
	}	
	.pg-intro-title{
		font-size: 36px;
	}
	.trends-item:nth-child(n+7){
		display: none;
	}
	.pg-service {
		flex-direction: column;
	}
	.pg-service-wrapper-main {
		box-sizing: border-box;
	}	
	.pg-orders-wrapper {
		
	} 
	.pg-orders-item-desc {	
  		font-size: 12px;
	}
	
	.pg-contact-title{
		font-size: 12px;
	}	
	.pg-orders-item-desc-more{
		font-size: 10px;
	}	
	.pg-orders-item{
	
		width: 50%;
		padding: 6em 0 0;	
	}
	.pg-orders-item:nth-child(-n+8):nth-child(4n-3) {
		padding: 1em 0.5em ;
	}	
	.pg-orders-item:nth-child(4n-2) {
		background-color: #4F4F4F;
	}
	.pg-orders-item:nth-child(4n-1) {
		background-color: #4F4F4F;
	}
	.pg-advantage-wrapper {
		flex-direction: column;
		align-items: center;
	}	
	.pg-advantage-item {
		width: 88%;
		margin: 1em;
	}	
	.pg-advantage-desc-lft {
		padding: 0 1em;
		font-size: 20px;
	}	
	.pg-advantage-desc-rght {
		padding: 0 1em 2em 2em;
		font-size: 16px;
	}	
}
@media (min-width: 641px) and (max-width: 960px) {
	.header-menu-wrapper {	
		display: flex;		
	} 
	.header-logo {	
		width: 170px;
	  	height: 162px; 	
	  	top: 0;	  		
	}
	.header-info-time {
		display: block;
	}
	.intro-container {	
		max-width: 80%;
		margin-top: 195px;
		margin-bottom: 220px;
		padding-top: 2px;
		padding-left: 22px;
		padding-right: 10px;
		padding-bottom: 20px;
	}	
	.intro-title {	
		padding-bottom: 2px;
		margin-top: 25px;
		font-size: 36px;
		line-height: 74px;
	}

	.intro-desc {
		
		margin-top: 25px;
		margin-bottom: 25px;
		padding-bottom: 25px;
		font-size: 18px;		
	}

	.intro-slogan {
		margin-top: 10px;
		margin-bottom: 25px;
		font-size: 24px;
	}

	.intro-button-vizit {		
	  	padding: 12px  40px;
	  	margin-bottom: 5px;	  		  
	  	font-size: 18px;	  	
	}
	.intro-menu-item{	
		width: 16%;	
	}
	.intro-menu-button {  	 	  
	  	font-size: 18px;  	
	}

	.pg-intro-title{
		font-size: 36px;
	}
	.pg-service {
		flex-direction: column;
	}
	.pg-service-wrapper-main {
		box-sizing: border-box;
	}
	.service-title {
		margin-top: 8%; 
		font-size: 30px;		
	}
	.service-desc {
		font-size: 18px;
	}
	.service-menu-button {
		font-size: 14px;
	}
	.service-button-more {
		padding: 12px  40px;
		font-size: 18px;
	}
	.pg-orders-item{
		padding: 7em 0 0;
	}
	.pg-orders-item-desc {	
  		font-size: 14px;
	}
	.pg-orders-item-desc:before {

	}
	.pg-orders-item:nth-child(-n+4):nth-child(even) {
		background-color: #4F4F4F;
	}
	.pg-orders-item:nth-child(n+4):nth-child(odd) {
		background-color: #4F4F4F;
	}	
	.pg-contact-title{
		font-size: 14px;
	}	
	.pg-orders-item-desc-more{
		font-size: 12px;
	}
	.main-trends-item {		
		width: 25%;
	}
	.service-wrapper {
		padding-bottom: 230px;
	}

	.trends-title {
		font-size: 32px;
	}
	.trends-text {
		padding-bottom: 20px;
	}
	.trends-desc {
		font-size: 18px;
	}
	.trends-item:nth-child(n+7){
		display: none;
	}
	.stage-item {
		background-size: auto 50%;
	}
	.pg-advantage-wrapper {
		flex-direction: column;
		align-items: center;
	}	
	.pg-advantage-item {
		width: 94%;
		margin: 1em;
	}	
	.pg-advantage-desc-lft {
		font-size: 24px;
	}	
	.pg-advantage-desc-rght {
		font-size: 18px;
	}	
	.contact {	
		flex-direction: row;			
	}
	.contact-map-img {
	    min-height: 100%;
	}
	.contact-main {
		width: 40%;
		margin-left: 20%;
		
	}
	.contact-map {    
	    width: 40%;
	 } 
	.footer-info-time {
		display: block;
	}  
	.footer-logo {	
		width: 170px;
	  	height: 162px; 	
	  	bottom: 0;  		
	}
	.footer-menu {
		width: 100%;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content: flex-end;	
		padding: 14px 0;
	} 
	.footer-menu-wrapper-right {
		width: 40%;	
	} 
	.footer-menu-button {
		font-size: 18px;
	}

}

@media (min-width: 961px)  { 
	.header-menu-wrapper {	
		display: flex;		
	} 
	.header-logo {	
		width: 170px;
	  	height: 162px; 	
	  	top: 0;	
	  	left: 7%;  		
	}
	.header-info-time {
		display: block;
	}
	.header-menu-button {
		
		font-size: 18px;
	}
	.header-menu-item {
		margin: 0 1%;
	}
	.pg-intro {
	
		background-size:  auto 100%;
	
	}
	.intro {		
		background-size: cover ;		
	}
	.intro-container {	
		max-width: 60%;
		margin-top: 295px;
		margin-bottom: 390px;
		padding-top: 2px;
		padding-left: 22px;
		padding-right: 10px;
		padding-bottom: 20px;
	}	
	.intro-title {	
		padding-bottom: 2px;
		margin-top: 25px;
		font-size: 36px;
		line-height: 74px;
	}

	.intro-desc {
		
		margin-top: 25px;
		margin-bottom: 25px;
		padding-bottom: 25px;
		font-size: 18px;		
	}

	.intro-slogan {
		margin-top: 10px;
		margin-bottom: 85px;
		font-size: 24px;
	}

	.intro-button-vizit {		
	  	padding: 12px  40px;
	  	margin-bottom: 5px;	  		  
	  	font-size: 18px;	  	
	}
	.intro-menu-item{	
		width: 16%;	
	}
	.intro-menu-button {  	 	  
	  	font-size: 24px;  	
	}
	.service {
		background-size: cover;
	}
	.service-title {
		margin-top: 8%; 
		font-size: 30px;		
	}
	.service-desc {
		font-size: 18px;
	}
	.service-menu-item {
		padding: 0 10px;
	}
	.service-menu-button {
		font-size: 14px;
	}
	.service-button-more {
		padding: 12px  40px;
		font-size: 18px;
	}
	.main-trends-item {		
		width: 25%;
	}
	.service-wrapper {
		width: 50%;
		padding-bottom: 120px;
		box-sizing: border-box;
	}
	.pg-orders-item-desc {	
  		font-size: 18px;
	}
	.pg-orders-item:nth-child(-n+4):nth-child(even) {
		background-color: #4F4F4F;
	}
	.pg-orders-item:nth-child(n+4):nth-child(odd) {
		background-color: #4F4F4F;
	}
	.trends {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row-reverse;
		justify-content: space-between;
	}
	.trends-text {
		width: 50%;
		box-sizing: border-box;
	}
	.trends-pic {
		width: 50%;
		box-sizing: border-box;
	}	
	.trends-title {
		font-size: 32px;
	}
	.trends-text {
		padding-bottom: 20px;
	}
	.trends-desc {
		font-size: 18px;
	}
	.trends-item:nth-child(n+13){
		display: none;
	}
	.stage {
		padding-left: 10%;
    	padding-right: 10%;
		background-size: cover;
	}
	.stage-item {
		background-size: auto 50%;
	}
	.stage-item-desc {
		font-size: 18px;
	}	
	.contact {	
		flex-direction: row;			
	}
	.contact-map-img {
	    min-height: 100%;
	}
	.contact-main {
		width: 40%;
		margin-left: 20%;
		
	}
	.contact-map {    
	    width: 40%;
	 } 
	.footer-info-time {
		display: block;
	}  
	.footer-logo {	
		width: 170px;
	  	height: 162px; 	
	  	bottom: 0; 
	  	left: 7%; 		
	}
	.footer-menu {
		width: 100%;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content: flex-end;	
		padding: 14px 0;
	} 
	.footer-menu-wrapper-right {
		width: 40%;	
	} 
	.footer-menu-button {
		font-size: 18px;
	}
}
@media (min-width: 1025px)  {
	.pg-intro {
	
		background-size: 100% auto;
	
	}
	
}	
@media (min-width: 1201px)  {
	.header-info-map-text {
		display: inline-block;
		margin: 0;
		font-size: 18px;

	}
	.intro-container {	
		max-width: 60%;
		margin-top: 60px;
		margin-bottom: 70px;
		padding-top: 2px;
		padding-left: 22px;
		padding-right: 10px;
		padding-bottom: 20px;
	}	
	

	.intro-slogan {
		
		margin-bottom: 25px;
		
	}
	.pg-orders-item-desc {	  
  		font-size: 24px;
	}
	.stage-item {
	    background-size: auto 60%;
	}
	.service-wrapper {
		padding-bottom: 74px;
	}	
	.trends-item:nth-child(n+10){
		display: none;
	}
	.footer-info-map-text {
		display: inline-block;
		margin: 0;
		font-size: 18px;

	}
	.footer-menu-wrapper {		
		flex-direction: row;
		justify-content: flex-end;
		flex-wrap: nowrap;
	}
	
} 
}	




