@import url('https://andresmrnv.github.io/HTML49_diplom/css/normalize.css');
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  
}
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 600;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  
}

body {
  min-width: 1660px;  
  margin: 0 auto;
  font-family: 'OpenSans', sans-serif;
  
}
a {
	text-decoration: none;
	cursor: pointer;
}
.header {
	width: 100%;
  padding-top: 29px;
  padding-bottom: 31px;
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  position: relative;
}

.header::after {
  	content: "";
  	position: absolute;
  	background-color: #000000;
  	opacity: 0.6;
  	left: 0;
  	right: 0;
  	top: 0;
  	bottom: 0;  
}


.container {
	display: flex;
  	width: 1200px;
  	margin: 0 auto;
  	padding: 0 17px;
  	box-sizing: border-box;
  	position: relative;
  	z-index: 1;
  	justify-content: space-between;
}
.header-logo{
  	width: 179px;
}
.menu {
	display: flex;
  	padding-top: 9px;
  	
  
}
.menu-list {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }   
.menu-list-item:nth-child(n+2) {
  	margin-left: 36px;
}
.menu-link {
	text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    color: #ffffff;
}
.header-title {
	padding: 72px 24% 65px; 
 	text-transform: uppercase;
 	text-align:  center; 
 	font-size: 45px;
 	line-height: 75px;
    font-weight: 600;
    color: #ffffff;
    position: relative;
    z-index: 1;
}

